/**********************
1.common css
2.Navbar
3.home
4.About us 
5.services
6.contact Us
7.footer
**********************/

/********** common css ***********/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


#warpper {
    width: 100%;
    height: auto;
    overflow: hidden;
}
body {
    width: 100%;
    height: auto;
    font-family: "Poppins", system-ui;
    padding: 3px;
}

/********** common css ***********/

/********** Navbar & home ****************/
.tagline-container{
    position: relative;
}
.logo-gitam{
    width:120px;
}
.navbar-collapse{
    justify-content: end;
}
.tagline{
    font-family:'Poppins';
    font-weight: bold;
    font-family: "Poppins";
}
.info-small-achievement{
    background-color:#0A61AD;
    color:#ffffff;
    padding:3px;
}
.mask-group-img{
    width:100%;
}

.line{
    color:rgb(7, 0, 0);
}
.info{
    position: absolute;
    top:135px;
    right:180px;
    width:180px;
    background-color:#0A61AD;   
}
.info-text{
    font-family: "Poppins";
    color:#ffffff;
   margin-left: 15px;
   margin-right: 15px;
    padding:10px;
    width:150px;
}
.achievementSmallDevices{
    font-family: "Poppins";
    font-size: 10px;
}

/*************************/

/********** Know About us ****************/
.colored-cats{
    color:blue;
}
.detail-about-cats{
    opacity:0.8;
}
.heading-know-about-us{
    font-family: "Poppins";
    font-size: 45px;
    font-weight: bold;
}
.know-about-us{
    font-weight:bolder;
    font-family: "";
}
.imageKnowAbout{
    width:100%;
}
.parent{
    position: relative;
    text-align: center;
    color: white;
    font-family: "Poppins";
}
.child{
    position: absolute;
    bottom: 8px;
    left: 16px;
}
/***********************************/

/********** Services ****************/
.heading-more-than-support{
    font-family: "Poppins";
    font-size: 43px;
    font-weight: bold;
}
.contact-bg-container{
    background-color: #0A61AD;
    
}
.parent-image{
    position: relative;
    text-align: center;
   
}
.centered{
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/**********************************/

/************ contact Us ***********/
.heading-get-in-touch{
    color:#ffffff;
    font-family: 'Poppins';
    padding-left: 20px;
    padding-top: 50px;
    font-weight: bold;
}
.spacing-inputs{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: transparent;
    border: 1px solid #ffffff;
    padding:5px;
}
.para-get-in-touch{
    color:#ffffff;
    font-family: 'Poppins';
    padding-left: 20px;
}
.send-button{
    color:#ffffff;
    background-color: #28A9E1;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 35px;
    border:none;
    font-size:12px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;

}
.map-image{
    width:100%;
    height:404px;
}

.all-rights-reserved{
    font-size: 15px;
}

